@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <!--typeof (Controller).Assembly.GetName().Version }-->
        <h1>Welcome to our view</h1>
    </div>
</body>
</html>
